<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yt.parent.dao.AreaContentMapper">
  <resultMap id="BaseResultMap" type="yt.parent.model.AreaContentDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="area_id" jdbcType="INTEGER" property="areaId" />
    <result column="area_basemodel" jdbcType="VARCHAR" property="areaBasemodel" />
    <result column="area_basedata" jdbcType="VARCHAR" property="areaBasedata" />
    <result column="area_listmodel" jdbcType="VARCHAR" property="areaListmodel" />
    <result column="area_listdata" jdbcType="VARCHAR" property="areaListdata" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_guid" jdbcType="VARCHAR" property="createGuid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, area_id, area_basemodel, area_basedata, area_listmodel, area_listdata, create_time, 
    create_guid
  </sql>
  <select id="selectByExample" parameterType="yt.parent.model.AreaContentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yt_area_content
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yt_area_content
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yt_area_content
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="yt.parent.model.AreaContentExample">
    delete from yt_area_content
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="yt.parent.model.AreaContentDO">
    insert into yt_area_content (id, area_id, area_basemodel, 
      area_basedata, area_listmodel, area_listdata, 
      create_time, create_guid)
    values (#{id,jdbcType=INTEGER}, #{areaId,jdbcType=INTEGER}, #{areaBasemodel,jdbcType=VARCHAR}, 
      #{areaBasedata,jdbcType=VARCHAR}, #{areaListmodel,jdbcType=VARCHAR}, #{areaListdata,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createGuid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="yt.parent.model.AreaContentDO">
    insert into yt_area_content
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="areaId != null">
        area_id,
      </if>
      <if test="areaBasemodel != null">
        area_basemodel,
      </if>
      <if test="areaBasedata != null">
        area_basedata,
      </if>
      <if test="areaListmodel != null">
        area_listmodel,
      </if>
      <if test="areaListdata != null">
        area_listdata,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createGuid != null">
        create_guid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="areaBasemodel != null">
        #{areaBasemodel,jdbcType=VARCHAR},
      </if>
      <if test="areaBasedata != null">
        #{areaBasedata,jdbcType=VARCHAR},
      </if>
      <if test="areaListmodel != null">
        #{areaListmodel,jdbcType=VARCHAR},
      </if>
      <if test="areaListdata != null">
        #{areaListdata,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createGuid != null">
        #{createGuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="yt.parent.model.AreaContentExample" resultType="java.lang.Long">
    select count(*) from yt_area_content
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update yt_area_content
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.areaId != null">
        area_id = #{record.areaId,jdbcType=INTEGER},
      </if>
      <if test="record.areaBasemodel != null">
        area_basemodel = #{record.areaBasemodel,jdbcType=VARCHAR},
      </if>
      <if test="record.areaBasedata != null">
        area_basedata = #{record.areaBasedata,jdbcType=VARCHAR},
      </if>
      <if test="record.areaListmodel != null">
        area_listmodel = #{record.areaListmodel,jdbcType=VARCHAR},
      </if>
      <if test="record.areaListdata != null">
        area_listdata = #{record.areaListdata,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createGuid != null">
        create_guid = #{record.createGuid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update yt_area_content
    set id = #{record.id,jdbcType=INTEGER},
      area_id = #{record.areaId,jdbcType=INTEGER},
      area_basemodel = #{record.areaBasemodel,jdbcType=VARCHAR},
      area_basedata = #{record.areaBasedata,jdbcType=VARCHAR},
      area_listmodel = #{record.areaListmodel,jdbcType=VARCHAR},
      area_listdata = #{record.areaListdata,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_guid = #{record.createGuid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="yt.parent.model.AreaContentDO">
    update yt_area_content
    <set>
      <if test="areaId != null">
        area_id = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="areaBasemodel != null">
        area_basemodel = #{areaBasemodel,jdbcType=VARCHAR},
      </if>
      <if test="areaBasedata != null">
        area_basedata = #{areaBasedata,jdbcType=VARCHAR},
      </if>
      <if test="areaListmodel != null">
        area_listmodel = #{areaListmodel,jdbcType=VARCHAR},
      </if>
      <if test="areaListdata != null">
        area_listdata = #{areaListdata,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createGuid != null">
        create_guid = #{createGuid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="yt.parent.model.AreaContentDO">
    update yt_area_content
    set area_id = #{areaId,jdbcType=INTEGER},
      area_basemodel = #{areaBasemodel,jdbcType=VARCHAR},
      area_basedata = #{areaBasedata,jdbcType=VARCHAR},
      area_listmodel = #{areaListmodel,jdbcType=VARCHAR},
      area_listdata = #{areaListdata,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_guid = #{createGuid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectModelByAreaId" resultMap="BaseResultMap">
    select id,area_id,area_basemodel,area_listmodel from yt_area_content where
    area_id = #{areaId,jdbcType=INTEGER}
  </select>

  <update id="updateBaseInfoContent" parameterType="yt.parent.model.AreaContentDO">
    update yt_area_content set area_basedata = #{areaBasedata,jdbcType=VARCHAR} where
     id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateListInfoContent" parameterType="yt.parent.model.AreaContentDO">
    update yt_area_content set area_listdata = #{areaListdata,jdbcType=VARCHAR} where
     id = #{id,jdbcType=INTEGER}
  </update>
</mapper>